body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #0073e6;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

main {
  padding: 2rem;
}

h2 {
  margin-top: 0;
}

form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  font-size: 1rem;
}

button {
  background: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005bb5;
}

.book-shelf {
  width: 1024px;
  border-radius: 8px;
  margin: 16px;
  background: #f8f9fa;
  padding: 16px;
  height: fit-content;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.book-item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 12px 24px 12px 24px;
  background: white;
  align-items: center;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.book-details {
  flex: 1;
}

.book-actions {
  display: flex;
  gap: 10px;
}

button.delete {
  background: #e63946;
  /* margin-left: 10px; */
}

button.delete:hover {
  background: #b71d22;
}

button.toggle {
  background: #43a047;
  margin-right: 10px;
}

button.toggle:hover {
  background: #357a38;
}
